<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
  
<suite name="finteBankingv1" >
 
 <listeners>
  <listener class-name="com.finitebaking.utilites.Reporting" />
  </listeners>
  
   <test name="Banking App Test" >
  <parameter name ="browser" value="chrome" />
 
    <classes>
     
       <class name="com.finitebanking.testcases.Logintest001" />
    </classes>
  </test>
</suite>
